html {
	font-family: "LatoWebRegular", "Myriad Pro", "Helvetica Neue", sans-serif;
	font-size: 16px;
	line-height: 1.5;
	font-size: 18px;
}

p {
	color: #515151;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: bold;
    line-height: 1.25;
    color: #313131;
    text-rendering: optimizeLegibility;
}

code, pre {
    font-family: Menlo, Monaco, "Courier New", monospace;
}

body {
	position: relative;
	margin: 0 0;
	height: 100%;
	width: 100%;
}

nav {
	position: absolute;
	left: 0;
	width: 300px;
	background-color: lightgray;
	height: 100%;
	overflow-y: scroll;
	box-sizing: border-box;
	padding-left: 0.5em;
}

nav a {
	text-decoration: none;
}

nav .clazzname {
	margin-bottom: 0.5em;
}

.main {
	position: absolute;
	left: 300px;
	right: 0;
	height: 100%;
	overflow-y: scroll;
}

.main:after {
	content: '';
	height: 90%;
	display: block;
}

nav .clazz > ul, nav .interface > ul {
	list-style: none;
	padding-left: 1em;
}

.args, .returns {
	display: inline;
	padding-left: 0;
	list-style: none;
}

.args:before {
	content: '(';
	display: inline;
}

.args:after {
	content: ')';
	display: inline;
}

.args > li, .returns > li {
	display: inline;
}


.args > li::before {
	content: ',';
	margin-right: 0.1em;
}

.args > li:first-child::before {
	content: '';
	margin-right: 0;
}

.args > .optional::before {
	content: '[,';
	margin-right: 0.1em;
}

.args > li:first-child.optional::before {
	content: '[';
	margin-right: 0;
}

.args > .optional::after {
	content: ']';
}

.returns:before {
	content: '{';
	display: inline;
}

.returns:after {
	content: '}';
	display: inline;
}

.modules, .modules > li > ul {
	list-style: none;
	padding-left: 0;
}

.modules .modulename {
	text-decoration: underline;
}

.parent {
	color: lightgray;
}

.main h3 {
	padding-top: 1em;
}

.main .module {
	padding-top: 1.5em;
}

.main .module:first-of-type {
	padding-top: 1em;
}

.main > * {
	width: 95%;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.params {
	list-style: initial;
}

.paramname .types {
	list-style: none;
	padding-left: 0;
	display: inline;
}

.types > li {
	display: inline;
}

.types:before {
	content: '{';
}

.types:after {
	content: '}';
}

.types > li + li:before {
	content: '|';
}


