.args, .returns {
	display: inline;
	padding-left: 0;
	list-style: none;
}

.args:before {
	content: '(';
	display: inline;
}

.args:after {
	content: ')';
	display: inline;
}

.args > li, .returns > li {
	display: inline;
}


.args > li::before {
	content: ',';
	margin-right: 0.1em;
}

.args > li:first-child::before {
	content: '';
	margin-right: 0;
}

.args > .optional::before {
	content: '[,';
	margin-right: 0.1em;
}

.args > li:first-child.optional::before {
	content: '[';
	margin-right: 0;
}

.args > .optional::after {
	content: ']';
}

.returns:before {
	content: '{';
	display: inline;
}

.returns:after {
	content: '}';
	display: inline;
}

.modules, .modules > li > ul {
	list-style: none;
	padding-left: 0;
}

.modules .modulename {
	text-decoration: underline;
}

