extends layout

extends layout.jade
block content
	.ui.container
		h1 Your GitHub Repositories
		.ui.grid
			.twelve.wide.column
				.ui.two.divided.items
					- var disabledRepos = _.chain(repos).filter(function(repo) {return !repo.isWebHookEnabled()}).sortBy(function(repo) {return repo.name.toLowerCase()}).value() 
					each repo in disabledRepos 
						.item
							.content
								.header(href='/account/'+repo.name)= repo.name
								if repo.description
									p.description= repo.description
								else 
									p.description
										em No description available.
								.extra
									a.ui.button.right.floated(href='/account/'+repo.name) Add
									
			.four.wide.column
				include profile.jade
