extends layout

block content
	.user-split
		include profile.jade
		
		#settings
			h1 Settings
			h2 enabled repositories
			p Documentation for your enabled repositories will be generated for <strong>new tags</strong>
				| and <strong>selected branches</strong>. You can unpublished tags or branches to hide them from other users.
			p Visit your <a href='/#{user._id}'>public profile</a>.
			ul
				each repo in _.filter(repos, function(repo) {return repo.isWebHookEnabled()})
					li
						h3= repo.name
						a(href='/account/' + repo.name) Settings
		
			h2 disabled repositories
			ul
				each repo in _.filter(repos, function(repo) {return !repo.isWebHookEnabled()})
					li
						h3= repo.name
						a(href='/account/' + repo.name) Settings
							
		
