extends layout

block content
	#howto
		h2 How to add you project
		p Setting up your project needs not more than three minutes!
		p Your projects needs to be on <a href='http://github.com'>GitHub</a> to be added to doclets.io though.

		h3 Step
		ol
			li 
				h4 Log in
				p <a href='/auth/github'>Log in</a> with yout GitHub account and grant doclets access to
					| your profile. Doclets also needs access to your repositories webhooks in order to work.

			li
				h4 Enable your Repo
				p Enable your respective repository in your <a href='/account'>Account</a> section.
					| Doclets will create a webhook for every enabled repository to get informed about
					| changes to your repository and tag creation.
			
			li
				h4 Create .doclets.yml file
				p Similar to other CI services, doclets needs a configuration file to know what to do with
					| your repository. This file tells doclets which source files to consider and which 
					| additional <em>markdown</em> files to include to your documentation.
				p Create a <code>.doclets.yml</code> file in the root directory of your master branch.

			li
				h4 Push!
				p Add, commit and push your repository changes to GitHub. 
