
html
	head
		link(href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext', rel='stylesheet', type='text/css')
		style
			include ../node_modules/normalize.css/normalize.css
		style
			include ../assets/index-style.css
			
	body
		.hero
			h1 doclets
		
		ul.doclets
			each doclet in doclets
				li.doclet
					a(href=doclet.repo.user + '/' + doclet.repo.name + '/' + doclet.repo.branch)= doclet.repo.name + ' ' + doclet.repo.branch

