extends layout.jade
block content

	header
		h1#logo doclets
		include searchform.jade

	#recents
		h2 recently update packages
		ul
			each doclet in doclets
				li.doclet
					a(href=doclet.repo.user + '/' + doclet.repo.name + '/' + doclet.repo.branch)= doclet.repo.name + ' ' + doclet.repo.branch
	#install

