
html(lang='en')
	head
		meta(charset='utf-8')
		title doclets
		link(rel='canonical', href='https://www.doclets.io/')
		link(href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='/index-style.css')
		style
			include ../node_modules/normalize.css/normalize.css

		block styles

		block scripts
			
	body(itemscope='', itemtype='http://schema.org/WebSite')
		meta(itemprop='url', content='https://www.doclets.io/')
		nav
			a#slogan(href='/') Documentation is fun
			a#setup(href='/howto') How to 
			a#jsdoc(href='http://usejsdoc.org/') JSDoc

		block header 
			header
				a#logo(href='/') logo
				include searchform.jade
				if user
					#user
						a.account(href='/' + user._id)= user._id
						a.logout(href='/logout') log out
					a.avatar(href='/' + user._id)
						img(src=user.image)
				else
					a.login(href='/auth/github') Log in
						span with GitHub
		

		block content

		//footer
			h4#greet Made with &hearts; in &nbsp;
				a(href='https://www.google.de/maps/place/Darmstadt/data=!4m2!3m1!1s0x47bd70641173cdd9:0x422435029b0c5f0?sa=X&ved=0ahUKEwjA09z6x4nKAhUEzRQKHZtaC2cQ8gEIHjAA') Darmstadt


