
html
	head
		link(href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext', rel='stylesheet', type='text/css')
			
	body
		h1= user
		ul.versions
			each doclet in doclets
				li.doclet
					a(href=user + '/' + doclet.repo + '/' + doclet.version)= doclet.repo + ' ' + doclet.version

