extends layout.jade
block content
	.user-split
		include profile.jade
		
		#repos
			- var username = owner.profile.username
			h3= '' + doclets.length + ' doclets by ' + username
			ul.versions
				each docletsByName, name in _.groupBy(doclets, function(doclet) {return doclet.repo.name})
					- var first = docletsByName[0]
					li.doclet
						h3
							a(href=username + '/' + name)= first.repo.name
						p.description= first.description
						p.version
							ul
								each version in _.map(docletsByName, function(doclet) {return doclet.repo.branch})
									li
										a(href=username + '/' + name + '/' + version)= version

