h2 {
  font-size: 20px; }

body, html {
  margin: 0 0;
  padding: 0 0; }

body > * {
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box; }

.user-split {
  display: flex; }

#profile {
  margin-top: 30px;
  width: 400px;
  order: 2;
  margin-left: auto; }
  #profile img {
    width: 100%; }

.versions {
  list-style: none;
  padding-left: 0; }

header a {
  text-decoration: none; }
header a:hover {
  text-decoration: underline; }
header #search {
  min-width: 80%;
  width: initial !important;
  flex-grow: 1; }
header .account, header .logout {
  text-align: right;
  display: block; }
header #user {
  margin: 0 0;
  margin-left: 14px;
  margin-right: 8px; }
header .avatar img {
  height: 40px; }
header .logout {
  font-size: 14px;
  color: #8c8c8c; }
header .login {
  margin-left: 14px; }
  header .login span {
    display: block;
    font-size: 14px; }


body > nav {
  background-color: #999;
	width: 100%;
  height: 25px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #666666; }
  body > nav > *:nth-of-type(2) {
    margin-left: auto; }
  body > nav > * {
    padding: 0 8px; }
  body > nav a {
    color: #e6e6e6;
    font-size: 14px;
    text-decoration: none; }
    body > nav a:hover {
      color: white; }

body header {
  width: 100%;
  height: 68px;
  background-color: #eee;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #bbbbbb; }

.hero {
  min-height: 40vh;
  display: flex;
	overflow: hidden;
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #3C7780),
	color-stop(1, #233C57)
);
background-image: -o-linear-gradient(bottom, #3C7780 0%, #080E15 100%);
background-image: -moz-linear-gradient(bottom, #3C7780 0%, #080E15 100%);
background-image: -webkit-linear-gradient(bottom, #3C7780 0%, #080E15 100%);
background-image: -ms-linear-gradient(bottom, #3C7780 0%, #080E15 100%);
background-image: linear-gradient(to bottom, #3C7780 0%, #080E15 100%);
  flex-direction: column;
  align-items: center; }
  .hero {
		position: relative;
    padding-top: 100px; 
		padding-bottom: 20px;
		background-color: #1b1c1d;
		color: white;
		}
	.hero .header .sub.header {
		color: orange !important;
		font-size: 1.4rem !important;
	}


	.hero .background  {
		background-image: url('hero-bg-small-2.jpg');
		background-repeat: no-repeat;
		background-size: cover;
    background-position   : top left;
		transform: translateZ(0);
    -webkit-transform: translateZ(0);
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 40px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    pointer-events: none;
	}


	.hero .ui.list, .hero p  {
		color: #e0e0e0;
	}

	.hero p {
		font-size: 1.10em;
	}

	.hero .header {
		color: white !important;
	}
		 #get-started {
			margin: 0 auto;
			margin-bottom: 40px;
			width: 180px;
		}
    #get-started span {
      display: block;
			font-weight: 100;
      font-size: 14px; }
	
			#get-started {
				display: flex;
			}
			#get-started .icon {
				line-height: 41px;
				font-size: 43px;
				margin-right: 0;
			}

#highlights ul {
  color: black;
  margin-top: -100px;
  margin-bottom: 100px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start; }
  #highlights ul > * {
    width: 33.333%;
    flex-grow: 1;
    min-width: 300px;
    padding-right: 30px;
    box-sizing: border-box; }

#search {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center; }
  #search #site-search-container {
    position: relative;
    height: 40px;
    border: 1px solid lightgray;
    overflow: hidden;
    background-color: white;
    flex-grow: 1; }
    #search #site-search-container:hover {
      border-color: #a0a0a0; }
    #search #site-search-container #site-search {
      color: #333;
      height: 30px;
      width: 100%;
      outline: 0;
      border: none;
      padding: 5px 10px; }
  #search #site-search-submit {
    min-width: 50px;
    max-width: 100px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0; }

#recents > h2 {
  text-align: center;
  color: #999;
  border-bottom: 1px solid #999;
  padding-bottom: 20px; }
#recents ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start; }
  #recents ul > * {
    width: 33.333%;
    flex-grow: 1;
    min-width: 300px;
    padding-right: 30px;
    box-sizing: border-box; }
#recents li:hover a {
  color: black; }
#recents a:hover {
  text-decoration: underline; }
#recents p {
  color: gray; }
#recents .description {
  margin-top: -5px; }
#recents .version {
  font-size: 14px;
  margin-top: -8px; }
#recents li a {
  color: green;
  text-decoration: none; }

footer {
  min-height: 50px; 
}

/*# sourceMappingURL=index-style.css.map */
