
body {
    position: relative;
    margin: 0 0;
    width: 100%;
}

.ui.circular.labels .label.kind, .ui.circular.label.kind
{
	max-width: 10px !important;
	max-height: 10px !important;
	min-width: 0.1em !important;
	min-height: 0.1em !important;
	padding: 3px !important;
	margin-left: 5px; 
	margin-bottom: 1px; 
}

::-webkit-scrollbar {
    display: none;
}

.main {
    margin-left: 300px;
    right: 0;
	overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}

.hero-header {
	margin-bottom: 3em !important;
}

.hero .ui.list {
	margin-top: 35px;
}

.hero-header span {
	border-bottom: 3px solid orange !important;
}

div.tags {
		margin-top: -2em;
		margin-bottom: 1em;
}

#repos .item a.header {
	margin-bottom: 4px;
}

#repos .list{
	margin-top: 50px;
	margin-bottom: 50px;
}

#repos .item .floated {
	position: absolute;
	right: 0;
	top: 33px;
}

#repos .item{
	position: relative;
}

#repos .item .description {
	font-size: 0.8em;
}

.big.description {
		font-size: 16px;
}

.main .title {
		position: relative;
}

.main .title .permalink {
		opacity: 0.0;
		margin-left: 10px;
		color: inherit;
		transition: opacity 0.3s ease;
}
.main .title:hover .permalink {
		opacity: 1.0;
}
.main .title .icon.linkify:before {
		font-size: 17px;
		color: inherit;
}

.api {
	position: relative;
	margin: 0;
	padding: 0;
}

.members {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
list-style-position: inside;
	
}

.members li, .links li {
	line-height: 24px;
}

#nav-wrap {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 300px !important;
	overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
	z-index: 10;
}

.main {
	border-left: 1px solid rgba(34, 36, 38, 0.15);
}

#api-nav {
	height: 100vh;
	width: 300px;
	box-shadow: none;
	overflow-y: scroll;
}

#scroll-top {
	position: fixed;
	bottom: 50px;
	right: 50px;
}

#api-nav:after {
	content: '';
	height: 50%;
}

.hero {
	font-size: 130%;
}


nav .item .wrap {
	height: 14px;
}

nav .item .wrap > img {
	top: -50%;
	border-radius: 0 !important;
	margin-left: 10px;
}

footer {
	padding: 5em 0;
}

footer > div > * {
	margin: 2em 0 !important;
}

nav.ui.menu .item > img:not(.ui) {
	    width: 25px;
    margin-right: 7px;
}

#api-nav.ui.menu {
	border-radius: 0;
}

.hero .ui.header > .icon + .content {
	padding-left: 0;
}

.icon.logo {
	-webkit-filter: grayscale(100%) brightness(10);
	filter: grayscale(100%) brightness(10);
}

.hero .ui.header > .icon.logo {
	width: 100px;
}

.recents .header .meta {
	font-size: 14px !important;
}

body > nav {
	border-bottom: 4px solid orange !important;
}

body > nav ~ *:not(footer) {
	margin-top: 40px;
	padding-top: 30px;
}

body .ui.vertical.segment {
	padding-top: 5em;
	padding-bottom: 5em;
}
/*
body .ui.cards > .card {
	box-shadow: none;
}

body .ui.cards > .card > .content{
	padding-left: 0;
	padding-right: 0;
}

*/

.accordion .title.active, .accordion .content.active {
}

.leaf a {
/*		color: #7D7D7D !important; */
}

.leaf a:hover {
	/*	color: #404040 !important; */
	text-decoration: underline;
}

#api-nav .item.api {
	padding-right: 0;
	margin-left: 1.14285714em;
	padding-left: 0;
}

nav .active-scroll {
	color: white !important;
	border-right: 5px solid orange;
}



.main .title {
		display: flex;
		align-items: center;
}

.main .title .label {
		padding: 10px;
    height: 24px;
    width: 24px;
    border-radius: 100%;
    transition: box-shadow 0.2s ease;
    border: 1px solid;
    box-shadow: 0px 0px 0px gray;
    line-height: 20px;
    display: inline-block;
    text-align: center;
		font-size: 25px;
	font-style: italic;
	font-family: Menlo;
}

.main article:hover .label {
	box-shadow: 2px 2px 8px -2px #2B2B2B;
}

.main .active-scroll .names .module {
		color: orange;
}

.names span.module {
	display: block;
    font-size: 13px;
    line-height: 13px;
    color: #A5A5A5;
	transition: color 0.5s 0.1s ease;
}

.infolist {
		padding: 8px 0 !important;
		border-top: 1px solid rgba(34, 36, 38, 0.15);
		border-bottom: 1px solid rgba(34, 36, 38, 0.15);
		display: flex !important;
		flex-wrap: wrap;
}

.infolist .item {
		margin-left: 0 !important;
		padding-left: 0 !important;
		padding-right: 50px !important;
    	margin: 5px 0;
}

.names span.parent {
    color: #A5A5A5;
	display: block;
	font-size: 15px;
	font-weight: 100;
	line-height: 20px;
}

.names {
		display: inline-block;
		margin-left: 1em;
}

#api-nav .leaf {
	padding: 0.3em 0;
	margin-left: 1.2em;
}

#api-nav .item.api a {
  color: rgba(0, 0, 0, 0.95);
}

/*#api-nav.ui.menu .menu {
	padding-left: 0.4em;
} */

#api-nav .ui.accordion > .content {
	margin-left: 0.5em;
}

#api-nav .ui.accordion > .title {
	margin-left: -0.3em;
} 

#api-nav .ui.accordion > .title > i {
	margin-right: -0.0em !important;
}

#api-nav .ui.accordion .accordion {
	margin: 0;
}

i.dropdown.icon {
    color: #A0A0A0;
}

.ui.accordion:not(.styled) .title ~ .content:not(.ui), .ui.accordion:not(.styled) .accordion .title ~ .content:not(.ui) {
	padding: 0 !important;
}


.main:after {
    content: '';
    height: 90%;
    display: block;
}

.args,
.returns {
    display: inline-table;
    padding-left: 0;
    list-style: none;
    margin: 0 0;
}


.args:before {
    content: '(';
    display: inline;
}

.args:after {
    content: ')';
    display: inline;
}

.args > li,
.returns > li {
    display: inline;
}

.main p, .main h4 {
	margin: 0.9em 0 !important;
	line-height: 1.4285em;
}

.args > li::before {
    content: ',';
    margin-right: 0.1em;
}

.args > li:first-child::before {
    content: '';
    margin-right: 0;
}

.args > .optional::before {
    content: '[,';
    margin-right: 0.1em;
}

.args > li:first-child.optional::before {
    content: '[';
    margin-right: 0;
}

.args > .optional::after {
    content: ']';
}

.returns:before {
    content: '\2192	{';
    display: inline;
}

.returns:after {
    content: '}';
    display: inline;
}

.params {
    list-style: initial;
    margin: 0 0;
    margin-bottom: 1em;
}

 .types {
    list-style: none;
    padding-left: 0;
    display: inline-table;
}


.params p {
  line-height: 1.4285em;
	font-size: 17px !important;
} 

.main p, .params li {
	font-size: 17px !important;
}

.args li {
	font-weight: 100;
}

.api .codelink {
	font-size: 16px;
}

.api code, pre {
	font-size: 15px !important;
}

.api code,
.api kbd,
.api pre,
.api samp {
  font-family: Menlo, monospace !important;
  font-size: 15px !important;
  line-height: 1.7 !important;
}

.api article h1, .api article h2, .api article h3, .api article h4 {
	font-size: 1em;
}

.markdown {
	padding-top: 3em;
}

.api h2.title {
	font-size: 1.3em;
}

.hljs {
	color: rgba(0, 0, 0, 0.87) !important;
    background: #EBEDF3 !important;
}

.types > li {
    display: inline-table;
}

.types:before {
    content: '{';
}

.types:after {
    content: '}';
}

.title .returns {
	display: none;
}

.types > li + li:before,
.returns > li + li:before {
    content: '|';
}

.params .description {
	margin-top: -13px;
}

.main article {
	font-size: 17px;
}

.main > * {
	width: 87%;
	max-width: 800px;
	margin: 0 auto;
}

@media (max-width: 600px) {
.main > * {
	width: 94%;
}
}

@media (max-width: 800px) {
.main > * {
	width: 92%;
}
}

 .types {
 	margin: 0;
}

.argumentlist {
	list-style: lower-roman;
}

.argumentlist .paramname .types {
	margin-left: 6px;
}

.main h4 {
    margin-top: 0.5em;
    margin-bottom: 0.0em;
    font-size: 17px;
    margin: 0 0;
		color: #353535;
}

#nav-title  {
	border-radius: 0;
}

.overview .ui.cards > .card {
	margin-bottom: 2em;
}

#title {
	position: relative;
	min-height: 420px;
	margin: 0 0;
	background-color: rgba(0, 0, 0, 0.87);
	color: #e2e2e2;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	overflow: hidden;
}

#title h1 {
	font-size: 30px;
	margin-top: 100px;
}

#api-nav.ui.menu {
	padding-bottom: 0;
	border-top: none;
	margin-bottom: 0;
	border-left: none;
	border: none;
	background-color: #f7f7f7;
}

.params p {
    margin: 0.1em 0;
}

.paramname .optional,
.paramname .default,
.paramname .defaultvalue {
    font-weight: lighter;
    font-style: italic;
}

.paramname .optional {
    margin-left: 1em;
}

article {
	display: block;
	height: auto;
	min-height: 40px;
	padding-top: 100px;
	box-sizing: content-box;
}
